
<div class="wrapper col5">
  <div id="footer">
    <h2>Arkadaslarim</h2>
    <table summary="Summary Here" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th>Adi</th>
          <th>Soyadi</th>
          <th>Email</th>
          <th colspan="2">Islemler</th>
        </tr>
      </thead>
     <%a=1%>
     <tbody>
        <% @friends.each do |friend| %>
 
        
        <%if a==1%>
        <tr class="light">
          <%a=0%>
          <%else%>
          <tr class="dark">
            <%a=1%>
            <%end%>
          <td><%= friend.name.upcase %></td>
          <td><%= friend.surname.upcase %></td>
          <td><%= friend.email %></td>
          <td><p align="center"><%= link_to 'BORC BILGISI', friend %></p></td>
          <td><p align="center"> <%= link_to 'KISIYI DUZENLE', edit_friend_path(friend) %></p></td>
        </tr>
        <%end%>
      </tbody>
    </table>
    <br class="clear" />
    <h3><%= link_to '+ Yeni Arkadas Ekle', new_friend_path %></h3>
  </div>
</div>