<div id="main">
   <%@borc= Credit.sum('miktar',:group =>:friend_id,:conditions=>["durum='not_paid'"])[@friend.id] or 0 %>
        <div class="right">
        
        
        <div class="nav">
          <ul>
          <li> <li><a href="<%= new_credit_path(:friend_id => @friend)%>" >Yeni Borc Ekle</a></li>
            <li><a href="<%= edit_friend_path(@friend)%>">Kisiyi Duzenle</a></li>
            <li><%= link_to 'Kisiyi sil', @friend, :confirm => 'Kisiyi silerek bu kisinin tum borclarini da sileceksiniz. Emin misiniz? ', :method => :delete %></li>
           <li> <a href="<%= create_path(:tweet =>  "#{@friend.name.upcase} #{@friend.surname.upcase}'n bana #{@borc} TL borcu var ve odemiyor :(" )%>" >Twitter'da Paylas</a></li>
        
            <li><a href="<%= email_path(@friend)%>">Mail At</a></li>
            
           
            
             
             
          </ul>
        </div>
      </div>
<p>&nbsp;</p>
<p id="notice"><%= notice %></p>

<p>
 <h3> <b>Adi:</b>
  <%= @friend.name %></h3>
</p>

<p>
 <h3> <b>Soyadi:</b>
  <%= @friend.surname %></h3>
</p>

<p>
 <h3> <b>Email:</b>
  <%= @friend.email %></h3>
</p>
<h3> <b>Toplam Borcu:</b>
  <% if @borc %> 
   <%=@borc %>TL</h3>
   <% else %>
    0 TL</h3>
    <% end %>

<p>&nbsp;</p>
 </div>

<h1>Borc Bakiyesi</h1>
<p>&nbsp;</p>


<table border="7">
  <tr>
   
    <th><h2>Miktar </h2></th>
    <th><h1>Durum</h1></th>
    <th><h1>Verilis Tarihi</h1></th>
    <th><h1>Vade Tarihi</h1></th>
    <td colspan="2"><h1>Islemler</h1></td>
    
  </tr>

<% @credit.each do |credit| %>
  <tr>
   
    <td width=150><h3><%= credit.miktar %><%=" TL"%></h3></td>
    <%if credit.durum == "not_paid"%>
  
 <td width=150> <h3><%= "Odenmedi" %></h3></td>
  <% else %>
  
 <td width=150><h3> <%= "Odendi" %></h3></td>
  <%end%>
    <td width=150><h3><%= credit.ver_tarih.to_date() %></h3></td>
    <td width=150><h3><%= credit.vade_tarih.to_date() %></h3></td>
    
    <td width=70 ><h3><%= link_to 'Duzenle', edit_credit_path(credit) %><h3></td>
    <td width=70><h3><%= link_to 'Borcu Sil', credit, :confirm => 'Borcunu odedi mi ?', :method => :delete %><h3></td>
    
  </tr>
<% end %>
</table>


<br />

