<div class="wrapper col3"></div>
<div class="wrapper col4">
  <div id="container">
    <div id="content">
      <%@borc= Credit.sum('miktar',:group =>:friend_id,:conditions=>["durum='not_paid'"])[@friend.id] or 0 %>
      <h2>Kisi Bilgileri</h2>
     <h3>Adi : <%= @friend.name.upcase %>
       <p>Soyad : <%= @friend.surname.upcase %></p>
      <p>Email : <%= @friend.email %></p></h3>
      <p>Toplam Borcu : <% if @borc %> 
                        <%=@borc %>TL</h3>
                        <% else %>
                        0 TL</h3>
                        <% end %>    </p>
    </div>
    <div id="column">
      <div class="flickrbox">
        <h2 class="title">ISLEMLER        </h2>
        <ul>
          <li>Kisi Duzenle<a href="<%= edit_friend_path(@friend)%>"><img src="../../images/edit.jpg" alt="" width="65" height="65" alt="edit_friend"/></a></li>
          <li><%= link_to 'KISIYI SIL', @friend, :confirm => 'Kisiyi silerek bu kisinin tum borclarini da sileceksiniz. Emin misiniz? ', :method => :delete %><img src="../images/delete.jpg" alt="" width="65" height="65" /></a></li>
          <li>Yeni Borc<a href="<%= new_credit_path(:friend_id => @friend)%>" ><img src="../../images/add.jpg" alt="yeni_borc" width="65" height="65" /></a></li>
          <li>Email At<a href="<%= email_path(@friend)%>"><img src="../../images/mail1.png" alt="send_email" width="65" height="65" /></a></li>
          <li class="last">Tweet At<a href="<%= create_path(:tweet =>  "#{@friend.name.upcase} #{@friend.surname.upcase}'n bana #{@borc} TL borcu var ve odemiyor :(" )%>" ><img src="../../images/twitter.png" alt="send_tweet" width="65" height="65" /></a></li>
        </ul>
      </div>
    </div>
    <br class="clear" />

  
    <%if @e==0 %>
    <p align="center" class="mailOK">Arkadasina, Borc Ekstresi E-mail ile gonderildi !  </p>
   <%@e=3%> 
   <%end%>
   <%if @e==1 %>
   <%@e=3%>
    <p align="center" class="mailOK">Arkadasin twitter'da rezil edildi :)  </p>
    <%end%>


  </div>
</div>
<div class="wrapper col5">
  <div id="footer">
    <h2>Borc Bakiyesi</h2>
    <table summary="Summary Here" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th>Miktar</th>
          <th>Durum</th>
          <th>Verdigim Tarih</th>
          <th>Vade Tarihi</th>
          <th colspan="2">Islemler</th>
        </tr>
      </thead>
     <%a=1%>
     <tbody>
        <% @credit.each do |credit| %>
 
        
        <%if a==1%>
        <tr class="light">
          <%a=0%>
          <%else%>
          <tr class="dark">
            <%a=1%>
            <%end%>
          <td><%= credit.miktar %><%=" TL"%></td>
          <%if credit.durum == "not_paid"%>
  
          <td><%= "Odenmedi" %></td>
            <% else %>
  
         <td> <%= "Odendi" %></td>
          <%end%>

          
          <td><%= credit.ver_tarih.to_date() %></td>
          <td><%= credit.vade_tarih.to_date() %></td>
          <td><%= link_to 'Duzenle', edit_credit_path(credit) %> </td>
          <td><%= link_to '  Borcu Sil', credit, :confirm => 'Borcunu odedi mi ?', :method => :delete %></td>
        </tr>
        <%end%>
      </tbody>
    </table>
    <br class="clear" />
  </div>
</div>