<div class="wrapper col5">
  <div id="footer">
    <h2>Bekleyen Paralarim</h2>
    <table summary="Summary Here" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th>Adi</th>
          <th>Soyadi</th>
          <th>Email</th>
          <th>Odenmeyen Borc Miktari</th>
          <th>Islemler</th>
        </tr>
      </thead>
     <%a=1%>
     <tbody>
        <% @credits.each do |credit| %>
            <% @friends=Friend.find(credit.friend_id)%>
        
        <%if a==1%>
        <tr class="light">
          <%a=0%>
          <%else%>
          <tr class="dark">
            <%a=1%>
            <%end%>
          <td><%= @friends.name.upcase %></td>
          <td><%= @friends.surname.upcase %></td>
          <td><%= @friends.email %></td>
           <td><%=credit.miktar%> TL</td>
          <td><p align="center"><a href="<%= friend_path(@friends)%>" >Kisiyi Goruntule</a></p></td>
         
        </tr>
        <%end%>
      </tbody>
    </table>
    <br class="clear" />
    
  </div>
</div>

  
   
